body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
header {
    background-color: #f8b400;
    padding: 20px;
}
nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background: #333;
    padding: 10px;
    border-radius: 5px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
